@import "bootstrap/scss/bootstrap";


nav {
    font-weight: bolder;
}

.nav-link {
    color: rgb(25, 25, 25) !important;
}

.btn-outline-success {
    --bs-btn-color: #ff556e;
    --bs-btn-border-color: #ff556e;
    --bs-btn-hover-bg: #ff556e;
    --bs-btn-hover-border-color: #ff556e;
    --bs-btn-active-bg: #ff556e;
    --bs-btn-active-border-color: #ff556e;
    --bs-btn-disabled-color: #ff556e;
    --bs-btn-disabled-border-color: #ff556e;
}
.btn-primary {
    --bs-btn-bg: #ff556e;
    --bs-btn-border-color: #ff556e;
    --bs-btn-hover-bg: #ff556e;
    --bs-btn-hover-border-color: #ff556e;
    --bs-btn-active-bg: #ff556e;
    --bs-btn-active-border-color: #ff556e;
    --bs-btn-disabled-bg: #ff556e;
    --bs-btn-disabled-border-color: #ff556e;
}

.radius-button {
    border-radius: 25px;
}

.active {
    color: #ff556e !important;
}

.banner {
    text-align: center;
}

.img-banner {
    width:100%;
}

.icon-cards {
    display: flex;
    flex-flow: row;

    .icon-card {
        margin: 25px;
        .circles {
            height: 100px;
            width: 100px;
            border-radius: 50px;
            display: inline-block;
            i {
                font-size: 50px;
                margin-top: 25px;
                margin-left: 23px;
            }
        }
    }
}

.collaborative-icon {
    .circles {
        background-color: #EBE7FA;
    }

    i {
        color: #AA7EEC;
    }
}

.analysis-icon {
    .circles {
        background-color: #DAF4EF;
    }

    i {
        color: #28cd9a;
    }
}
.settings-icon {
    .circles {
        background-color: #F8E5EA;
    }

    i {
        color: #FF556E;
    }
}
.social-icon {
    .circles {
        background-color: #F8F1DE;
    }

    i {
        color: #FFB30F;
    }
}
.get-icon {
    .circles {
        background-color: #E1F2FA;
    }

    i {
        color: #4FB9E8;
    }
}


